<%- include ('../partials/header') %>
<div class="container margin:top">
  <span> </span>
  <h2 style="text-align: center;">Edit your comment for </h2>
  <div class="row justify-content-center align-items-center">
    <div style="width: 50%; margin: 20px auto; row h-100">
      <form action="/campgrounds/<%= campground_id %>/comments/<%=comment._id %>?_method=PUT" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="comment[text]" value="<%=comment.text %>">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary">Submit</button>
        </div>
      </form>
      <a href="/">Go Back</a>
    </div>
  </div>
</div>
<%- include ('../partials/footer') %>
