<%- include ('./partials/header') %>
    <!-- account page -->

    <div class="card">
        <% if( typeof errors != 'undefined'){ %>

            <% errors.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                
            <% }); %>
        
        <% } %>
        <form action="/register" method="POST">

            <h2 class="title"> Sign up</h2><br>


            <!-- <div class="social-login">
                <button class="google-btn"><a href="https://www.gmail.com">Google
                        <i class="fa fa-google"></i>
                    </a>
                </button>

                <button class="fb-btn"><a href="https://www.facebook.com"> Facebook
                        <i class="fa fa-facebook"></i>
                    </a>
                </button>
            </div>

            <p class="or"><span>or</span></p> -->

            <div class="email-login">
                <label for="email"> <b>First Name</b></label>
                <input type="text" placeholder="First name" name="firstname" value="<%= typeof firstname != 'undefined' ? firstname : '' %>"required>
                <label for="email"> <b>Last Name</b></label>
                <input type="text" placeholder="Last name" name="lastname"  value="<%= typeof lastname != 'undefined' ? lastname : '' %>"required>
                <label for="email"> <b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="username" value="<%= typeof email != 'undefined' ? email : '' %>" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password"  value="<%= typeof password != 'undefined' ? password : '' %>"required>
                <label for="password"><b>Confirm Password</b></label>
                <input type="password" placeholder="Confirm password" name="password2"  value="<%= typeof password2 != 'undefined' ? password2 : '' %>"required>
            </div>
            <button id="signup" class="cta-btn">Sign Up</button>
            <!-- <a class="forget-pass" href="#">Forgot password?</a> -->
        </form>
    </div>

    <%- include ('./partials/footer') %>